@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  

}

body{
  background-color: #f1f5f8;
  color: #0c0b0b;

}

#favicon {
 
  border-radius: 6px;

}

.waviy {
  position: relative;
  font-size: 65px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #0c0b0b;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  top: 120px;
 
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}





.navbar{
  padding: 2rem;
  background-color:#f9fbfc;
  box-shadow: 1px 2.98256px 7.4564px rgba(82, 81, 81, 0.2);
  
  }
  
  .navbar-collapse{
      align-items: center;
      justify-content: space-between;
     
  }
  
  
  
  /* estilos generales */
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
  }
  
  
 
  
  @media  screen and (max-width:767px) {
      .navbar-brand{
          display: none;
      }
  }  

  /* estilos LOGO */
  .logo{
    width: 5rem;
    border-radius: 50px;
    background-color: white;
    

  }

  /* estilos footer  
footer {
  background-color: #f8f6f6;
  color: #050505;
  padding: 50px;
  text-align: center;

}

*/ 

.section_padding{

padding: 4rem 4rem;



}

.footer{
background-color: #fbfcfc;



}

.sb_footer{

display: flex; 
flex-direction: column;




}  



.sb_footer_Links{

display: flex;
justify-content: space-between;
align-items: flex-start;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
text-align: left;
margin-bottom: 2rem;

}



 /* Articulos */

 .bloglist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .bloglist {
    grid-template-columns: repeat(3, 1fr);
    /* align-items: start; */
  }
}

.blog{

  background:#fcfafa;
  border-radius: 2rem;
  padding: 1rem 2rem;
}

.blog h1{
  margin-top: 0.5rem;
}


.blog p{
  margin-top: 0.5rem;
}


 /* Pie de pagina  */

 footer{
min-height: 200px;
background-color: #faf8f8;

 }

 .footer-texto{
font-size: 1.5rem;
padding: 20px;
margin-bottom: 30px;

 }

 .iconos-redes-sociales a{
width: 50px; 
height: 40px ;
display: flex; 
align-items: center;
justify-content: center; 
padding: 2px;
margin: 10px;
border: 2px solid white; 
border-radius: 50%;
transform: all 0.2s ease-in;

 }

 .iconos-redes-sociales a{

color: white;
font-size: 2rem;
transition: all 0.2s ease-in;

 }


.derechos-de-autor{

font-size: 15px;
color: #686666;
padding: 20px;
text-align: center;
 }

 .contacto {
  margin-top: 80px; /* Ajusta este valor según sea necesario */
} 

.footer-texto{

  margin-top: 140px; 

}