body{
  margin: 0;
  background-color: rgba(235, 227, 217, 0.849);
  
  }

/* Resto de tu CSS... */
/*
.Menu {
  display: flex;
  justify-content: space-between; 
  height: 70px;
  padding: 15px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(82, 81, 81, 0.2);
  background-color: rgba(238, 238, 230, 0.808);
  
}
/*
.Menu li{

  font-size: 1.5em;
  list-style-type:none ;
  display: inline;
padding: 60px;
position: relative;
left: 140%;
bottom: 50px; 
font-family: Arial, Helvetica, sans-serif;




}


/* Resto de tu CSS... */




h1 {
  font-family: "Montserrat Medium";
  max-width: 45ch;
  text-align: center;
  transform: scale(0.98);
  animation: scale 7s forwards cubic-bezier(0.5, 1, 0.89, 1);
  font-size: 80px;
  position: relative;
  top: 60px;
  right: 20px;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}



.navbar{
  padding: 2rem;
  background-color: rgba(238, 238, 230, 0.808) ;
  box-shadow: 0px 2.98256px 7.4564px rgba(82, 81, 81, 0.2);

  
  }
  
  .navbar-collapse{
      align-items: center;
      justify-content: space-between;
  }


  @media  screen and (max-width:767px) {
    .navbar-brand{
        display: none;
    }
}